// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/*
General Styles
Woocommerce Styles

*/
@font-face {
    font-family: 'Campton-ThinItalic';
    src: 	url('webfonts/2F2089_0_0.eot'),
    		url('webfonts/2F2089_0_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_0_0.woff2') format("woff2"), url('webfonts/2F2089_0_0.woff') format("woff"), url('webfonts/2F2089_0_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-Thin';
    src: 	url('webfonts/2F2089_1_0.eot'),
    		url('webfonts/2F2089_1_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_1_0.woff2') format("woff2"), url('webfonts/2F2089_1_0.woff') format("woff"), url('webfonts/2F2089_1_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-SemiBold';
    src: 		url('webfonts/2F2089_2_0.eot'),
   				url('webfonts/2F2089_2_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_2_0.woff2') format("woff2"), url('webfonts/2F2089_2_0.woff') format("woff"), url('webfonts/2F2089_2_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-SemiBoldItalic';
    src: url('webfonts/2F2089_3_0.eot'),
    	url('webfonts/2F2089_3_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_3_0.woff2') format("woff2"), url('webfonts/2F2089_3_0.woff') format("woff"), url('webfonts/2F2089_3_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-Black';
    src: 	url('webfonts/2F2089_4_0.eot'),
    		url('webfonts/2F2089_4_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_4_0.woff2') format("woff2"), url('webfonts/2F2089_4_0.woff') format("woff"), url('webfonts/2F2089_4_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton';
    font-weight: 500;
    src: 	url('webfonts/2F2089_5_0.eot'),
    		url('webfonts/2F2089_5_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_5_0.woff2') format("woff2"), url('webfonts/2F2089_5_0.woff') format("woff"), url('webfonts/2F2089_5_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton';
    src: 	url('webfonts/2F2089_6_0.eot'),
    		url('webfonts/2F2089_6_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_6_0.woff2') format("woff2"), url('webfonts/2F2089_6_0.woff') format("woff"), url('webfonts/2F2089_6_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton';
    font-weight: 300;
    src: 	url('webfonts/2F2089_7_0.eot'),
    		url('webfonts/2F2089_7_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_7_0.woff2') format("woff2"), url('webfonts/2F2089_7_0.woff') format("woff"), url('webfonts/2F2089_7_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-ExtraLight';
    src: 	url('webfonts/2F2089_8_0.eot'),
    		url('webfonts/2F2089_8_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_8_0.woff2') format("woff2"), url('webfonts/2F2089_8_0.woff') format("woff"), url('webfonts/2F2089_8_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-MediumItalic';
    src: 	url('webfonts/2F2089_9_0.eot'),
    		url('webfonts/2F2089_9_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_9_0.woff2') format("woff2"), url('webfonts/2F2089_9_0.woff') format("woff"), url('webfonts/2F2089_9_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-ExtraBold';
    src: 	url('webfonts/2F2089_A_0.eot'),
    		url('webfonts/2F2089_A_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_A_0.woff2') format("woff2"), url('webfonts/2F2089_A_0.woff') format("woff"), url('webfonts/2F2089_A_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton';
    font-weight: 100;
    src: 	url('webfonts/2F2089_B_0.eot'),
    		url('webfonts/2F2089_B_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_B_0.woff2') format("woff2"), url('webfonts/2F2089_B_0.woff') format("woff"), url('webfonts/2F2089_B_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-LightItalic';
    src: 	url('webfonts/2F2089_C_0.eot'),
    		url('webfonts/2F2089_C_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_C_0.woff2') format("woff2"), url('webfonts/2F2089_C_0.woff') format("woff"), url('webfonts/2F2089_C_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-BlackItalic';
    src: 	url('webfonts/2F2089_D_0.eot'),
    		url('webfonts/2F2089_D_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_D_0.woff2') format("woff2"), url('webfonts/2F2089_D_0.woff') format("woff"), url('webfonts/2F2089_D_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-ExtraLightItalic';
    src: 	url('webfonts/2F2089_E_0.eot'),
    		url('webfonts/2F2089_E_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_E_0.woff2') format("woff2"), url('webfonts/2F2089_E_0.woff') format("woff"), url('webfonts/2F2089_E_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-BoldItalic';
    src: 	url('webfonts/2F2089_F_0.eot'),
    		url('webfonts/2F2089_F_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_F_0.woff2') format("woff2"), url('webfonts/2F2089_F_0.woff') format("woff"), url('webfonts/2F2089_F_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-ExtraBoldItalic';
    src: 	url('webfonts/2F2089_10_0.eot'),
    		url('webfonts/2F2089_10_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_10_0.woff2') format("woff2"), url('webfonts/2F2089_10_0.woff') format("woff"), url('webfonts/2F2089_10_0.ttf') format("truetype");
}

@font-face {
    font-family: 'Campton-BookItalic';
    src: 	url('webfonts/2F2089_11_0.eot'),
    		url('webfonts/2F2089_11_0.eot?#iefix') format("embedded-opentype"), url('webfonts/2F2089_11_0.woff2') format("woff2"), url('webfonts/2F2089_11_0.woff') format("woff"), url('webfonts/2F2089_11_0.ttf') format("truetype");
}
// font sizes, weights, colors
// reusable styles

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    font-family: "Campton-Semibold", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 1.25em;
}

h1 {
    font-weight: 300;    
    font-size: 48px; 
}
h2, .large-highlight {
    font-weight: 300;  
    font-size: 48px;   
    line-height: 1.1;
}
h3,.table-heading {
    font-weight: 300; 
    font-size: 36px; 
    line-height: 1.1;
 }
h4, .text-highlight, .reduced-heading {
    font-weight: 300;  
    font-size: 24px;   
}
.text-highlight {    
	color: $blue-lt;
}

h5,.table-subheading{
    font-weight: 500;  
    font-size: 18px;
    display: block;
    line-height: 1.3;
}  

p {
font-weight: 100;  
line-height: 30px; 
}
ul {
    padding: 0 10px;
}
li{
    font-weight: 100;
    margin: 10px;
  }
.note{
    font-style: italic;    
    color: $white;
    font-size: 12px;
    display: block;
    line-height: 1.5;
 }
a {
    color: white;  
    text-decoration: none; 

    &:hover, &:focus {
    	color: #eee;
    	text-decoration: underline;
    }
}
.caption{
    color: $blue-dk;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    display: block;
  }
strong{
    font-weight: 300;  
}
/* General Styles */

.btn {
	border-radius: 1px;
	border: none;
} 

body, html {
	height: 100%;
	background-color: $blue-dk;
} 

body {
	font: 400 1em/1.25 "Campton-Book", Helvetica, Arial, sans-serif;
	color: #ccf9f7;
    background-color: $blue-dk;
}

.wrap {
	min-height: 100%;
}

body.single-product {
	min-height: 100%;
	background-color: #5654d0;
}

.single-product .wrap {

	background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1280 1280" style="enable-background:new 0 0 1280 1280;" xml:space="preserve">              
                <polygon points="0,1280 1280,0 0,0 " fill="#262D4D"></polygon>
            </svg>')  no-repeat;
		background-size: 100%;
}

body.single-product {
    background-color: #5654d0;
}

.section-content-inner {
	padding: 5% 5%;
}

//Ensures page elements are full width
#page, .wrapper {
	padding: 0;
}


section.details {
	background-color: $blue-lt;
	color: $blue-dk;
}



	.triangle{
		height: 0;
		padding-bottom: 100%;
		position: fixed;
		width: 100%;
		z-index: -1;
	}

	.svg-triangle{
		height: 100%;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
		}

.single-product {

	
	h1.product_title {
		font-size: 10vw;
		margin-bottom: 0.25em;
		font-weight: 700;
	}
	
	.entry-summary {

		.price {
			color: #fff;
		}
		h4 {
			font-size: 8vw;
			font-weight: 400;
		}
	}

}

.woocommerce {

	div.product {
		p.price, .woocommerce div.product span.price {
		color: #fff;
		}

		div.images {

				img {
					width: auto;
					max-height: 200px;
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
				}

				.thumbnails img{
					border-radius: 100%;	
				}
		}

		div.images, div.summary {
			margin-bottom: 20px;
		}

		form.cart {
			.button {
			margin-right: 4px;
			}
			.more-info {
				float: right;
				color: #fff;
			}

		}


	}
	//single product qty
	.quantity .qty {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	table.shop_table td, table.shop_table {
			border-color: #ccf9f7;
		}


}



/* Header */

.navbar-brand {
	float: right;
	margin-right: 0;
	margin-left: 1rem;
}

.navbar {
	padding-left: 0;
	padding-right: 0;
}


nav.navbar.bg-inverse {
	background: transparent !important;
	font-size: 19px;
}

.navbar-toggler {
	color: #fff;
	border-radius: 1px;
	border: 1px solid #fff;
	padding: 0.6em 0.7em 0.55em;
    -webkit-transition: background 0.3s, color 0.4s;
    transition: background 0.3s, color 0.4s;
    font-size: 1em;
}

/* Footer */
section.footer {
	background: #1a1a1a;
    color: grey;
    width: 100%;

	    
    a:Link {
    	color: grey;
    	text-decoration: underline;

    	&:hover, &:focus {
    		color: grey;
    		text-decoration: none;
    	}
    }

    ul#footer-menu  {		
    	text-align: center;
    	padding-bottom: 20px;
			    
			.menu-item {
			float: none;
			}
    	}
}


/* Products */

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: rgb(194, 33, 233);
}



.details.product-description .more-info{

	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

// Extra small devices (portrait phones, less than ???px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) {  }

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { 
	.single-product {

	
		h1.product_title {
			font-size: 8vw;
			margin-bottom: 0.25em;
			font-weight: 700;
		}
	}	
 
 }

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { 
	.triangle {
				padding-bottom: 75%;
		    	width: 75%;
	}

	.section-content-inner {
		padding: 5% 10%;
	}
	section.footer .section-content-inner {
	    	padding-top: 20px;
	  	  	padding-bottom: 20px;
		}


	.single-product { 
			
			h1.product_title {
			font-size: 8vw;
			}
		}
	 .woocommerce div.product div.images img {
		 max-height: 500px;
	}

	.woocommerce div.product div.summary p {
		font-size: 32px;
		line-height: 1.4em;
	}
	
	.details.product-description {
		.well {
			position: relative;
		}
		.more-info{
		float: none;
		margin: inherit;	
		display: inherit;
		position: absolute;
		top: 0;
		right: 0
		}
	}
}
// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {  }